<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        text-align: center;
        padding: 15px;
        font-size: large;
    }
</style>
<body >
    {% for student in student_list %}
    <hr>
    {{student.name}}<br>
    {{student.course_name}}<br>
    {{student.email}}<br><br>
    

    {% endfor %}<hr><hr><hr>


    {% for student in Freshers %}
    <hr>
    {{student.name}}<br>
    {{student.course_name}}<br>
    {{student.email}}<br><br>
    

    {% endfor %}<hr>


</body>
</html>